    <div class="header">
        <h1>Shell ({{stateRepositoryId}} / {{sessionId}}) </h1>
    </div>

    <div class="body">
        <div class="nav" *ngIf="shellService.navViewInstances.length">
            <div class="nav-body">
                <div class="nav-host">
                    <p-compose
                        *ngFor="let vi of shellService.navViewInstances"
                        [cmodule]="vi.cmodule"
                        [component]="vi.component"
                        [state]="vi.state"
                        [style.visibility]="vi === shellService.navActiveViewInstance ? 'visible' : 'hidden'">
                    </p-compose>
                </div>
            </div>
            <div class="nav-toolbar" *ngIf="shellService.navViewInstances.length > 0">
                <p-shell-toolbar
                    [viewInstances]="shellService.navViewInstances"
                    [(activeViewInstance)]="shellService.navActiveViewInstance"
                    [showTitle]="true"
                    [showArrow]="false"
                    [isUp]="false"
                    [moveToViewInstances]="shellService.altViewInstances">
                </p-shell-toolbar>
            </div>
        </div>

        <div class="body2">

          <h1>Body2</h1>
            <!--<div class="main" show.bind="mainViewInstances.length">
                <div class="main-toolbar" show.bind="mainViewInstances.length > 0">
                    <view-instance-toolbar
                        view-instances.bind="mainViewInstances"
                        active-view-instance.two-way="mainActiveViewInstance"
                        show-title.bind="true"
                        is-up.bind="false"
                        move-to-view-instances.bind="altViewInstances">
                    </view-instance-toolbar>
                </div>
                <div class="main-body">
                    <div class="main-host">
                        <compose
                            repeat.for="vi of mainViewInstances"
                            view.bind="vi.viewTemplate"
                            view-model.bind="vi.viewModel"
                            model.bind="vi.viewState"
                            show.bind="vi === $parent.mainActiveViewInstance">
                        </compose>
                    </div>
                </div>
            </div>

            <div class="alt" show.bind="altViewInstances.length">
                <div class="alt-toolbar" show.bind="altViewInstances.length > 0">
                    <view-instance-toolbar
                        view-instances.bind="altViewInstances"
                        active-view-instance.two-way="altActiveViewInstance"
                        show-title.bind="true"
                        is-up.bind="true"
                        move-to-view-instances.bind="mainViewInstances">
                    </view-instance-toolbar>
                </div>
                <div class="alt-body">
                    <div class="alt-host">
                        <compose
                            repeat.for="vi of altViewInstances"
                            view.bind="vi.viewTemplate"
                            view-model.bind="vi.viewModel"
                            model.bind="vi.viewState"
                            show.bind="vi === $parent.altActiveViewInstance">
                        </compose>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
