    <div class="header">
        <h1>Shell ({{stateRepositoryId}} / {{sessionId}}) </h1>
    </div>

    <div class="body">
        <div class="nav" *ngIf="shellService.navViewInstances.length">
            <div class="nav-body">
                <div class="nav-host">
                    <p-compose
                        *ngFor="let vi of shellService.navViewInstances"
                        [cmodule]="vi.cmodule"
                        [component]="vi.component"
                        [state]="vi.state"
                        [style.visibility]="vi === shellService.navActiveViewInstance ? 'visible' : 'hidden'">
                    </p-compose>
                </div>
            </div>
            <div class="nav-toolbar" *ngIf="shellService.navViewInstances.length > 0">
                <p-shell-toolbar
                    [viewInstances]="shellService.navViewInstances"
                    [(activeViewInstance)]="shellService.navActiveViewInstance"
                    [showTitle]="true"
                    [showArrow]="false"
                    [isUp]="false"
                    [moveToViewInstances]="shellService.altViewInstances">
                </p-shell-toolbar>
            </div>
        </div>

        <div class="body2">
            <div class="main" *ngIf="shellService.mainViewInstances.length">
                <div class="main-toolbar" *ngIf="shellService.mainViewInstances.length > 0">
                    <p-shell-toolbar
                        [viewInstances]="shellService.mainViewInstances"
                        [(activeViewInstance)]="shellService.mainActiveViewInstance"
                        [showTitle]="true"
                        [showArrow]="true"
                        [isUp]="false"
                        [moveToViewInstances]="shellService.altViewInstances">
                    </p-shell-toolbar>
                </div>
                <div class="main-body">
                    <div class="main-host">
                        <p-compose
                            *ngFor="let vi of shellService.mainViewInstances"
                            [cmodule]="vi.cmodule"
                            [component]="vi.component"
                            [state]="vi.state"
                            [style.visibility]="vi === shellService.mainActiveViewInstance ? 'visible' : 'hidden'">
                        </p-compose>
                    </div>
                </div>
            </div>

            <div class="alt" *ngIf="shellService.altViewInstances.length > 0">
                <div class="alt-toolbar" *ngIf="shellService.altViewInstances.length > 0">
                    <p-shell-toolbar
                        [viewInstances]="shellService.altViewInstances"
                        [(activeViewInstance)]="shellService.altActiveViewInstance"
                        [showTitle]="true"
                        [showArrow]="true"
                        [isUp]="true"
                        [moveToViewInstances]="shellService.mainViewInstances">
                    </p-shell-toolbar>
                </div>
                <div class="alt-body">
                    <div class="alt-host">
                        <p-compose
                            *ngFor="let vi of shellService.altViewInstances"
                            [cmodule]="vi.cmodule"
                            [component]="vi.component"
                            [state]="vi.state"
                            [style.visibility]="vi === shellService.altActiveViewInstance ? 'visible' : 'hidden'">
                        </p-compose>
                    </div>
                </div>
            </div>

        </div>
    </div>
